.button {
	display: inline-block;
	margin: auto;
	color: white;
	font-size: $FONT_SIZE;
	background: orange;
	border: 1px solid white;
	border-radius: 4px;
	outline: none;
	padding: 4px;
	text-decoration: none;
}
.button:active {
	background: darken(orange,20%);
}

.delete {
	background: red;
}
