div(id="loginOverlay").loginOverlay.loginOverlay_hidden
	div.loginOverlay-container
		form(method='POST' action='/login').loginOverlay-container-form
			div.form-group
				label(for="username") Username:
				input(type=text, name="username", id="username" placeholder="Username").textInput
			div.form-group
				label(for="password") Password:
				input(type='password', name='password' placeholder="Password").textInput
			div.form-group
				button(type=submit).button Login!