div.nav
	div.nav-inner
		div.logo 
			a(href="/") Fiction Filter
		ul.nav-main
			li
				a(href="/about").nav-main-item About
			li
				a(href="/books").nav-main-item Books
			li
				a(href="/profile").nav-main-item Profile
			li
				a(href="/register").nav-main-item Register
		div.nav-login.button-primary
			button Login
