nav.nav
	div.nav-inner
		div.logo 
			a(href="/") Fiction Filter
		ul.nav-main
			li
				a(href="/search").nav-main-item Search
			li
				a(href="#0").nav-main-item
					img(src="/search.png" id="js-searchIcon").icon
			li
				a(href="/about").nav-main-item About
			if currentUser
				li
					a(href="/addbook").nav-main-item Add a Book
			if currentUser
				li
					a(href="/profile").nav-main-item Profile
			if !currentUser
				li
					a(href="/register").nav-main-item Signup

			if currentUser
				li
					a(href="/logout" id="js-logout").nav-main-item Log Out
			else
				li
					a(href="#" id="js-login").nav-main-item Login

	include _loginOverlay.pug
