div.nav
	div.nav-inner

		ul.nav-main
			div.logo 
				a(href="/") Fiction Filter
			li
				a(href="/about").nav-main-item About
			if currentUser
				li
					a(href="/addbook").nav-main-item Add a Book
			if currentUser
				li
					a(href="/profile").nav-main-item Profile
			if !currentUser
				li
					a(href="/register").nav-main-item Signup
			li
				a(href="#0")
					img(src="/search.png" id="js-searchIcon").icon
		div.nav-login
			if currentUser
				form(action="/logout")
					button(id="js-logout").button.button-primary Log Out
			else
				button(id="js-login").button.button-primary Login

	include _loginOverlay.pug
