div.nav
	div.nav-inner
		div.logo 
			a(href="/") Fiction Filter
		ul.nav-main
			li
				a(href="/about").nav-main-item About
			li
				a(href="/books").nav-main-item Books
			li
				a(href="/profile").nav-main-item Profile
			li
				a(href="/register").nav-main-item Register
			li
				a(href="#search")
					img(src="search.png").icon
		div.nav-login
			button.button.button-primary Login
