div.nav
	div.nav-inner

		ul.nav-main
			div.logo 
				a(href="/") Fiction Filter
			li
				a(href="/about").nav-main-item About
			li
				a(href="/books").nav-main-item Books
			li
				a(href="/profile").nav-main-item Profile
			li
				a(href="/register").nav-main-item Register
			li
				a(href="#0")
					img(src="search.png" id="js-searchIcon").icon
		div.nav-login
			button.button.button-primary Login
