div.nav
	div.logo Bookkeeper
	ul
		li 
			a(href="/about") About
		li 
			a(href="/books") Books
		li 
			a(href="/profile") Profile
		li 
			a(href="/register") Register
	div.nav-login
		button Login
