div(id="js-mainSearch").searchBar.searchBar_inactive
	form(method="POST" action="/search")
		input(type="text" name="query" placeholder="Search..." onClick="this.select()").inputText_searchBar.inputText