* {
	box-sizing: border-box;
}

body {
	font-size: $FONT_SIZE;
	 -webkit-font-smoothing: antialiased;
}

.wrap {
	margin: auto;
	max-width: 800px;
}

.pageContent {
	padding: $PRIMARY_PADDING;
	margin-top: 32px;

}
.pageContent > * + * {
	margin-top: 56px;
}

.pageHeading {
	color: white;
	font-size: $HEADER_FONT_SIZE;
	font-family: $PRIMARY_FONT;
}

.contentBody {
	background: $BG;
	padding: $PRIMARY_PADDING;
	border-radius: 8px;
	font-family: $PRIMARY_FONT;
}

.contentBody ul {
	list-style-type: circle;
    list-style-position: inside;

}
.contentBody ul > * + * {
	padding-top: 8px;
}

.contentBody_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentBody > * + * {
	margin-top: 32px;
}

.primaryText_center {
	text-align: center;
}
