extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading About
		div.contentBody
			p.primaryText  Parents may want to know what their children are reading.  Victims of abuse may not want to read about abuse for entertainment.  There are plenty of reasons to know the content of what you are reading.
			p We are trying to create a way for people to be informed about what's in their books.