extends ./layout.pug

block content
	section.pageContent
		h1 About
		div
			p We are trying to create a way for people to be informed about what's in their books.
			p Categories include: Substances, Sex, Violence, Language, Abuse, Hate, Immorality, Occult.
			ul
				li 0 - No appearance
				li 1 - Some reference or inuendo
				li 2 - references to or second-hand descriptions
				li 3 - descriptions or scenes
				li 4 - scenes or themes with this as a major element
				li 5 - majority content

		h2 FAQs
		div
			h4 Why don't you have age ratings?
			p We want to provide information regarding comment so that you can decide what is appropriate and what is not.  Also, most books are already categorized as young adult, teen, or children's.

			h4 "Immorality" as a category? "Occult"?  Isn't this a little subjective?
			p Yes.  But this is why there is a place to add comments next to your rating to clarify what you mean.

		h2 License
		div
			p
				small This site is a side-project by Jim Schofield.  It will be maintained as much as I can afford the time and money.
			
			p
				small Copyright 2017 Jim Schofield

			p
				small Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
			p
				small Credit be given to Jim Schofield as original creator and developer.
			p
				small The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
			p
				small THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
