extends ./layout.pug

block content
	section.pageContent

		h1 Create a book...
		div
			form(method='POST' action='/books')
				div.addMargin
					label(for="title") Title:
					input(type='text', name="title", id="title" placeholder="Title").textInput
				div.addMargin
					label(for="author") Author:
					input(type='text', name="author" placeholder="First Last").textInput
				div.addMargin
					label(for="CoverURL") Url to cover thumbnail:
					input(type='text', name="coverURL" placeholder="Optional").textInput
				div.addMargin
					label(for="publishedYear") Published Year:
					input(type='text', name='publishedYear').textInput
				div.addMargin
					label(for="pages") Pages:
					input(type='text', name='pages').textInput
				div.addMargin
					label(for="genres") Genres:
					input(type='text', name='genres' placeholder="Separate by commas").textInput
				div.addMargin
					button(type=submit) Add this Book!