extends ./layout.pug

block content
	section.pageContent

		h1.pageHeading Create a review for #{ bookData.title }
		div.contentBody
			form(id="addReviewForm" method='POST' action='/sendcomment/' + bookData.title).form_table
				div.form_row.form-spacer
					div.form_col
						label(for="substances") Substances:
							input(type="radio" name="substances" value="0")
							| 0
							input(type="radio" name="substances" value="1") 
							| 1
							input(type="radio" name="substances" value="2") 
							| 2
							input(type="radio" name="substances" value="3") 
							| 3
							input(type="radio" name="substances" value="4") 
							| 4
							input(type="radio" name="substances" value="5") 
							| 5
						br
						small Drugs, alcohol, or illegal substances
					div.form_col
						textarea(placeholder="Optional comments" name="subtancesComments").textInput
				div.form_row
					div.form_col
						label(for="sex") Sex:
							input(type="radio" name="sex" value="0")
							| 0
							input(type="radio" name="sex" value="1") 
							| 1
							input(type="radio" name="sex" value="2") 
							| 2
							input(type="radio" name="sex" value="3") 
							| 3
							input(type="radio" name="sex" value="4") 
							| 4
							input(type="radio" name="sex" value="5") 
							| 5
						br
						small Sexual acts or imagery              
					div.form_col
						textarea(placeholder="Optional comments" name="sexComments").textInput
				div.form_row
					div.form_col
						label(for="violence") Violence:
							input(type="radio" name="violence" value="0")
							| 0
							input(type="radio" name="violence" value="1") 
							| 1
							input(type="radio" name="violence" value="2") 
							| 2
							input(type="radio" name="violence" value="3") 
							| 3
							input(type="radio" name="violence" value="4") 
							| 4
							input(type="radio" name="violence" value="5") 
							| 5
						br
						small Physical violence or gore 
					div.form_col
						textarea(placeholder="Optional comments" name="violenceComments").textInput
				div.form_row
					div.form_col
						label(for="language") Language:
							input(type="radio" name="language" value="0")
							| 0
							input(type="radio" name="language" value="1") 
							| 1
							input(type="radio" name="language" value="2") 
							| 2
							input(type="radio" name="language" value="3") 
							| 3
							input(type="radio" name="language" value="4") 
							| 4
							input(type="radio" name="language" value="5") 
							| 5
						br
						small Explicit language, foul or derogatory comments                          
					div.form_col
						textarea(placeholder="Optional comments" name="languageComments").textInput
				div.form_row
					div.form_col
						label(for="abuse") Abuse:
							input(type="radio" name="abuse" value="0")
							| 0
							input(type="radio" name="abuse" value="1") 
							| 1
							input(type="radio" name="abuse" value="2") 
							| 2
							input(type="radio" name="abuse" value="3") 
							| 3
							input(type="radio" name="abuse" value="4") 
							| 4
							input(type="radio" name="abuse" value="5") 
							| 5
						br
						small Physical or emotional abuse                     
					div.form_col
						textarea(placeholder="Optional comments" name="abuseComments").textInput
				div.form_row
					div.form_col
						label(for="hate") Hate:
							input(type="radio" name="hate" value="0")
							| 0
							input(type="radio" name="hate" value="1") 
							| 1
							input(type="radio" name="hate" value="2") 
							| 2
							input(type="radio" name="hate" value="3") 
							| 3
							input(type="radio" name="hate" value="4") 
							| 4
							input(type="radio" name="hate" value="5") 
							| 5
						br
						small Speech that attacks a person or group on the basis of things such as gender, race, religion, etc.                   
					div.form_col
						textarea(placeholder="Optional comments" name="hateComments").textInput
				div.form_row
					div.form_col
						label(for="immorality") Immorality:
							input(type="radio" name="Immorality" value="0")
							| 0
							input(type="radio" name="Immorality" value="1") 
							| 1
							input(type="radio" name="Immorality" value="2") 
							| 2
							input(type="radio" name="Immorality" value="3") 
							| 3
							input(type="radio" name="Immorality" value="4") 
							| 4
							input(type="radio" name="Immorality" value="5") 
							| 5
						br
						small Engaging in acts that may be culturally or traditionally viewed as morally wrong or illegal (for example: adultery)
					div.form_col
						textarea(placeholder="Optional comments" name="immoralityComments").textInput
				div.form_row
					div.form_col
						label(for="occult") Occult:
							input(type="radio" name="occult" value="0")
							| 0
							input(type="radio" name="occult" value="1") 
							| 1
							input(type="radio" name="occult" value="2") 
							| 2
							input(type="radio" name="occult" value="3") 
							| 3
							input(type="radio" name="occult" value="4") 
							| 4
							input(type="radio" name="occult" value="5") 
							| 5
						br
						small Supernatural or magical elements or phenomena that may be attributed to evil or dark sources    
					div.form_col
						textarea(placeholder="Optional comments" name="occultComments").textInput
				div.form_row
					div.form_col
						textarea(name="generalComments" placeholder="Optional general comments").textInput
					div.form_col
						button(type=submit id="addCommentSubmit") Add this Review