extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading Welcome to Fiction Filter
		div.contentBody
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique corporis, inventore accusamus ratione voluptate, id sit quas incidunt tempore voluptatem ad natus nam maxime, esse ullam quasi velit, in nostrum. Books
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime doloribus, quibusdam ab, ex cumque eum libero minima doloremque atque qui et molestias beatae? Quam harum, aut officiis provident nobis deleniti!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime doloribus, quibusdam ab, ex cumque eum libero minima doloremque atque qui et molestias beatae? Quam harum, aut officiis provident nobis deleniti!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime doloribus, quibusdam ab, ex cumque eum libero minima doloremque atque qui et molestias beatae? Quam harum, aut officiis provident nobis deleniti!