extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading Welcome to Fiction Filter
		div.contentBody.contentBody_center
			p.primaryText  Read or post content reviews for fiction you are reading.
			button.button See latest reviews