extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading Welcome to Fiction Filter
		div.contentBody
			p.primaryText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique corporis, inventore accusamus ratione voluptate, id sit quas incidunt tempore voluptatem ad natus nam maxime, esse ullam quasi velit, in nostrum.