extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading Know what you read
		div.contentBody.contentBody_center
			p.primaryText_center  Read content reviews for fiction so you can judge how appropriate it is.  Post reviews on books to help others judge for themselves.
			button.button See latest reviews