extends ./layout.pug

block content
	section.pageContent.center
		h1.heading Know what you&nbsp;read
		div.contentBody
			p Read content reviews for fiction so you can judge how appropriate it is.
			p Post reviews on books to help others judge for themselves.
			form(method="GET" action="/searchlatest")
				button See latest reviews