extends ./layout.pug

block content
	h1 Welcome to bookcheck
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique corporis, inventore accusamus ratione voluptate, id sit quas incidunt tempore voluptatem ad natus nam maxime, esse ullam quasi velit, in nostrum.