doctype html
html
	head
		title=title
		link(rel='stylesheet' href='css/screen.css')
		link(href="https://fonts.googleapis.com/css?family=Della+Respira|Raleway" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			include partials/_nav.pug
			include partials/_searchbar.pug
		div.wrap
			block content
				h2 Template did not load correctly

		script(src="js/scripts.js")
