extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading #{ userData.username }'s Profile
		div.contentBody
			p  This will show:
				ul
					li Personal preferences such as genre
					li Most recent posts
					li posts written by the user
					li favorite books and recommendations
					li quotes