extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading Register
		div.contentBody
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime doloribus, quibusdam ab, ex cumque eum libero minima doloremque atque qui et molestias beatae? Quam harum, aut officiis provident nobis deleniti!