extends ./layout.pug

block content
	section.pageContent
		h1 Search:
		div.center
			form(method="POST" action="/search")

				input(type="text" name="query" placeholder="Type in a book or author...").addMargin
				button(type="submit").button Search!