/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1.125em; }

body {
  background-color: white;
  font-family: 'Lora';
  font-weight: 400;
  line-height: 1.45em;
  color: #000022;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 400;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small {
  font-size: 0.8em; }

* {
  box-sizing: border-box; }

html {
  width: 100%; }

body {
  width: 100%;
  background: #FEFEFA; }

.pageContent {
  margin: 1.45em auto;
  padding: 16px;
  max-width: 30em; }

a {
  color: #c42847; }

.nav {
  width: 100%;
  box-shadow: 0px 0px 4px #969696; }

.nav-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier", "Lora", times, serif; }

.logo {
  padding: 2.9em 1.45em;
  width: 100%;
  text-align: center; }

.logo > a {
  font-weight: 400;
  color: #c42847;
  font-size: 1.75em; }

.nav-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #c42847; }

.nav-main > li {
  display: inline-block; }

.nav-main-item {
  display: inline-block;
  padding: 8px 12px;
  color: white;
  text-decoration: none; }

.loginOverlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.loginOverlay_hidden {
  display: none; }

.loginOverlay-container {
  background: #e28413;
  width: 350px;
  padding: 16px;
  color: white; }

.loginOverlay-container-form > * + * {
  margin-top: 8px; }

.loginOverlay-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.icon {
  display: inline-block;
  width: 20px; }

.bookCover {
  display: block;
  max-width: 200px; }

.searchBar {
  max-height: 60px;
  overflow: hidden;
  transition: max-height 1s;
  box-shadow: 0px 0px 4px #969696; }

.searchBar_inactive {
  max-height: 0px;
  transition: max-height 1s; }

.inputText_searchBar {
  width: 100%;
  border: 2px solid #c42847; }

.form-table {
  display: table;
  width: 100%;
  padding: 4px; }

.form-table_center {
  text-align: center; }

.form-table-row {
  display: table-row; }

.form-table-row-cell {
  display: table-cell;
  padding: 4px; }

input[type=text] {
  padding: 8px;
  border: 1px solid #c42847;
  width: 100%;
  font-family: "Lora", times, serif;
  -webkit-fill-color: #FEFEFA !important; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

input[type=text]:focus {
  outline: none; }

.addMargin {
  margin: 16px 0px; }

button {
  background: #e28413;
  border: 1px solid;
  outline: none;
  color: white;
  font-family: "Courier";
  padding: 8px; }

.table {
  display: table;
  border-spacing: 8px; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.bookCard-inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.bookCard-inner-wrap > * {
  padding: 16px; }

.bookCard-inner-wrap-cover {
  display: block;
  line-height: 0; }

.bookCard-inner-wrap-details {
  display: block;
  flex-grow: 1; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.alignRight {
  text-align: right; }

.bold {
  font-weight: 700; }

.floatLeft {
  float: left; }
