$LOGO_FONT: 'Della Respira', serif;
$LOGO_FONT_SIZE: 40px;

$NAV_TEXT_COLOR: black;

$FONT_SIZE: 24px;
$HEADER_FONT_SIZE: 40px;
$SUBHEADER_FONT_SIZE: 32px;

$PRIMARY_FONT: 'Raleway', sans-serif;

$BG_DARKBLUE: rgba(0,0, 30,.9);
$ORANGE: rgba(255, 161, 0, 1);
$BG: rgba(255,255,255,.7);

$PRIMARY_PADDING: 24px;
