//COLORS
$BACKGROUND_COLOR: #FEFEFA;

// links
$ORANGE: rgba(226, 132, 19, 1);
$LIGHTORANGE: rgba(240, 150, 40, 1);
$FONT_COLOR: rgba(0, 0, 34, 1);
$RED: rgba(222, 60, 75, 1);
$MAROON: rgba(196, 40, 71, 1);

// TYPE
$FONT_STACK: "Lora", times, serif; //LORA has 400 and 700
$NAV_FONT: "Courier";
$FONT_SIZE: 1.125em;
$LINE_HEIGHT: 1.45em;
$BUTTON_FONT_SIZE: 14px;