.registerForm {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form > * + * {
	margin-top: 16px;
}

input {
	display: block;
	width: 100%;
}


.textInput {
	display: block;
	width: 100%;
	border: none;
	padding: 16px;
	font-size:$FONT_SIZE;
	outline: none;
}

.form-group {
	width: 100%;
}

.form-group > * + * {
	margin-top: 16px;
}