.textInput {
	display: block;
	border: none;
	padding: 16px;
	font-size:$FONT_SIZE;
	outline: none;
}

.textInput-mainSearch {
	width: 100%;

}
.searchBar {
	
}
.searchBar_inactive {
	height: 0px;
	overflow:hidden;
}
