.textInput {
	display: block;
	border: none;
	padding: 16px;
	font-size:$FONT_SIZE;
	outline: none;
}

.textInput-mainSearch {
	width: 100%;
	overflow: hidden;
}
.searchBar {
	height: 0px;
	overflow:hidden;
}
.searchBar_active {
	height: initial;
}
