.textInput {
	display: block;
	border: none;
	padding: 16px;
	font-size:$FONT_SIZE;
	outline: none;
}

.textInput-mainSearch {
	width: 100%;

}
.searchBar {
	max-height: 60px;
	overflow: hidden;
	transition: max-height 1s;

}
.searchBar_inactive {
	max-height: 0px;
	transition: max-height 1s;
}
